.nameAndlogo {
  display: flex;
  flex-direction: row;
}

.menuAndlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  inline-size: 500px;
}

#searchbar {
  display: flex;
  align-items: center;
  margin: 4px;
  height: 34px;
}
.sidefont {
  margin-left: 13px;
  font-size: 20px;
}
.list {
  flex: 1;
  width: 250px;
  overflow-y: scroll;
}
.appicons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.searchBox {
  width: 50%;
  margin-right: 10px;
}
.MuiButtonBase-root.searchButton2 {
  display: none;
}
.header_left {
  display: flex;
  width: 20%;
}

#roundbutton {
  background-color: #ffe8a4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.keep_img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.keepImageSpace {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tooltip {
  display: none;
}
.tooltip-on-hover:hover + .tooltip {
  display: block;
}
