@mixin flexRelative() {
  display: flex;
  position: relative;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexAlign() {
  display: flex;
  align-items: center;
}
.qAnsDialog {
  @include flexCenter();
  height: 378px;
  width: 700px;
  margin-left: 325px;
}
.showReply {
  @include flexCenter();
}

.ratingMain {
  @include flexAlign();
}
.ratingRight {
  @include flexAlign();
}

.queAnsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qAndaTitle {
  font-weight: bold;
  cursor: pointer;
}
.queAnsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.noteQuesion {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  width: 500px;
}
.closeButton {
  display: flex;
  flex-direction: row-reverse;
}
.noteQuesionHide {
  display: none;
}
.margin-20px {
  margin: 20px;
}
.replyHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
.replyList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
#editorDialog {
  width: 900px;
}
.questionList {
  margin: 10px;
}
/* #askBtn {
    display: flex;
    flex-direction: row-reverse;
  } */
.queAndAnsNoteData {
  margin: 20px;
  font-weight: bold;
}
.hide {
  display: none;
}
.showNew {
  display: block;
  margin-top: 5px;
  flex-direction: row;
}
.show-margin {
  display: none;
}

.hideReply {
  display: none;
}

.showReply {
  @include flexCenter();
}

.ratingMain {
  @include flexAlign();
}
.ratingRight {
  @include flexAlign();
}
#askBtn {
  display: flex;
  flex-direction: row-reverse;
}
