.nameAndlogo {
  display: flex;
  flex-direction: row;
}

.menuAndlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  inline-size: 500px;
}

#searchbar {
  display: flex;
  align-items: center;
  margin: 4px;
  height: 34px;
}
.sidefont {
  margin-left: 13px;
  font-size: 20px;
}
.list {
  flex: 1;
  width: 250px;
  overflow-y: scroll;
}
.appicons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.searchBox {
  width: 50%;
  margin-right: 10px;
}
.MuiButtonBase-root.searchButton2 {
  display: none;
}
.header_left {
  display: flex;
  width: 20%;
}

#roundbutton {
  background-color: #ffe8a4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.keep_img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.keepImageSpace {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tooltip {
  display: none;
}
.tooltip-on-hover:hover + .tooltip {
  display: block;
}

.notesCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 43px;
  inline-size: 500px;
}
.show {
  margin-left: 363px;
  margin-top: 101px;
  inline-size: 500px;
}
.takeNote {
  margin-top: 73px;
}

.in {
  border-bottom: 0px;
  border-bottom-color: white;
}
.inp {
  text-align: start;
  display: flex;
  padding: 4px 16px 12px 16px;
}
.closeButton {
  margin-top: 17px;
  margin-left: 0px;
}
.titleNote {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 12px 16px;
  margin-left: -15px;
}
.titleAndPin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 16px 12px 16px;
}
.CardToolbar {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -20px;
}
.toolbarAndClose {
  display: flex;
  flex-direction: row;
}
