.reminderHeading {
  font-size: medium;
  margin-left: 10px;
  font-weight: 500;
}
.lableAddInstanceHeading {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}
.lableList > *:hover {
    background-color: #dfdfdf;
    border-radius: 0px 30px 30px 0px;
  }
  .lablelistSelect {
    display: flex;
    align-items: center;
    height: 20px;
  }