.notesCard {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  height: 43px;
  inline-size: 500px;
}

.show {
  display: flex;
  position: relative;
  margin-left: 420px;
  margin-top: 50px;
  box-shadow: 0px 0px 2px 1px gray;
  inline-size: 500px;
  border-radius: 5px;
}
.takeNote {
  margin-top: 0px;
}
.cardlist {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.titleAndPin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 16px 12px 16px;
}
.titleNote {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 12px 16px;
  margin-left: -15px;
  position: relative;
  width: 420px;
}
.inp {
  text-align: start;
  display: flex;
  width: 200px;
  padding: 4px 16px 12px 16px;
}
.in {
  border-bottom: 0px;
  border-bottom-color: white;
}

.cardToolbar {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -20px;
}
.collabAtNote {
  display: flex;
}
.collabAtNote > div {
  background-color: whitesmoke;
  box-shadow: 0px 1px 5px 2px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.toolbarAndClose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.closeButton {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.colorMenu {
  box-shadow: 0px 2px 10px 2px lightgray;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
}
.moreMenu_popper {
  width: 300px;
  display: flex;

  flex-wrap: wrap;
  position: relative;
}
.moremenu_container {
  width: 300px;
  background: white;
  box-shadow: 0px 2px 10px 2px lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.moreMenu_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.moreMenu_content span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.8;
}

.moreMenu_content:hover {
  background-color: lightgray;
}
